# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

1.5 Создайте серию из 10 случайных названий рецептов.

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

# Решение

In [3]:
path = "C:\\Users\\kurki\\OneDrive\\Рабочий стол\\Учеба\\Технологии обработки данных\\ЛР 2\\data\\"

In [9]:
# 1.1
import pandas as pd
import numpy as np
from datetime import datetime
recipes = pd.read_csv(path + "recipes_sample.csv", sep=',')
reviews = pd.read_csv(path + "reviews_sample.csv", sep=',')
reviews.rename(columns = {"Unnamed: 0": "index"}, inplace=True)
reviews = reviews.set_index("index")

In [10]:
# 1.2
print("Таблица recipes:")
print(len(recipes))
print(len(recipes.columns))
print(recipes.dtypes, '\n')

print("Таблица reviews:")
print(len(reviews))
print(len(reviews.columns))
print(reviews.dtypes)

Таблица recipes:
30000
8
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

Таблица reviews:
126696
5
user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

In [7]:
# 1.3
print("Таблица recipes:")
print(recipes.isnull().sum())
print("Доля пропусков:", sum([True for idx, row in recipes.iterrows() if any(row.isnull())]) / len(recipes), '\n')

print("Таблица reviews:")
print(reviews.isnull().sum())
print("Доля пропусков:", sum([True for idx, row in reviews.iterrows() if any(row.isnull())]) / len(reviews))

Таблица recipes:
name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64
Доля пропусков: 0.5684666666666667

Таблица reviews:
user_id       0
recipe_id     0
date          0
rating        0
review       17
dtype: int64
Доля пропусков: 0.00013417945317926376

In [8]:
# 1.4
print("Таблица recipes:")
print(recipes[["id", "minutes", "contributor_id", "n_steps", "n_ingredients"]].mean(), "\n")

print("Таблица reviews:")
print(reviews[["user_id", "recipe_id", "rating"]].mean())

Таблица recipes:
id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
dtype: float64

Таблица reviews:
user_id      1.408013e+08
recipe_id    1.600944e+05
rating       4.410802e+00
dtype: float64

In [11]:
# 1.5
rand_recipes = recipes.sample(n=10)
rand_recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
14962,jen s ham cheese toasted sandwiches,195618,20,11297,2006-11-15,NaN,a little different from other sandwiches as yo...,NaN
28299,twice baked mashed potatoes,255093,150,219979,2007-09-24,12.0,"being in the military, i host a variety of dif...",NaN
25374,spicy dill dip,1129,5,2178,1999-08-25,3.0,NaN,9.0
29274,white chocolate cranberry oatmeal cookies,283845,25,485940,2008-02-03,11.0,"ooh, these are good cookies! the mixture of w...",14.0
9654,drunken chicken marinade,659,115,1627,1999-08-24,NaN,"hi, it's been a very long time since the last ...",4.0
29943,zucchini lemon bread,120742,90,212714,2005-05-05,11.0,this recipe is from governor william j. janklo...,NaN
15420,kittencal s easy mushroom soup pork chops,231222,70,89831,2007-05-29,NaN,my family *loves* this! i have written the eas...,NaN
22170,raspberry chipotle bbq sauce,394519,3,96177,2009-10-13,3.0,this recipes combines inexpensive bottled bbq ...,6.0
24450,slow cooked dilled pot roast,19467,540,2312,2002-02-11,NaN,"i haven't tried this, i just rescued the recipe.",8.0
25725,split pea and sweet potato soup,465062,95,37449,2011-09-28,20.0,cardamom and garam masala add subtle spice to ...,NaN

In [12]:
# 1.6
reviews.index = np.arange(len(reviews))
reviews.head()

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

In [13]:
# 1.7
recipes[(recipes["minutes"] <= 20) & (recipes["n_ingredients"] <= 5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

In [14]:
# 2.1
recipes["submitted"] = pd.to_datetime(recipes["submitted"])

recipes_2 = pd.read_csv(path + "recipes_sample.csv", sep=',', parse_dates = ["submitted"], date_parser = lambda x: datetime.strptime(x, '%Y-%m-%d'))
recipes_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            30000 non-null  object
 1   id              30000 non-null  int64
 2   minutes         30000 non-null  int64
 3   contributor_id  30000 non-null  int64
 4   submitted       30000 non-null  datetime64[ns]
 5   n_steps         18810 non-null  float64
 6   description     29377 non-null  object
 7   n_ingredients   21120 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 1.8+ MB

In [15]:
# 2.2
recipes[recipes["submitted"] < "2011-01-01"]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [16]:
# 3.1
recipes["description_length"] = recipes["description"].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

In [17]:
# 3.2
recipes["name"] = recipes["name"].str.title()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

In [18]:
# 3.3
recipes["name_word_count"] = recipes["name"].str.split().str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

In [19]:
# 4.1
group_contributor = recipes.groupby("contributor_id", sort=False)
print(group_contributor.size())
print(group_contributor.size().idxmax())

contributor_id
35193      18
91970       1
1533      186
22724       4
4470      141
         ...
522304      1
896136      1
344321      1
152500      1
186118      1
Length: 8404, dtype: int64
89831

In [20]:
# 4.2
group_id = reviews.groupby("recipe_id", sort=False)
print(group_id["rating"].mean())
print(sum(group_id.apply(lambda x: x["review"].isnull().sum())))

recipe_id
57993     4.818182
142201    4.583333
252013    4.000000
404716    3.727273
129396    5.000000
            ...
94096     5.000000
368208    2.000000
154964    5.000000
187418    5.000000
296868    4.000000
Name: rating, Length: 28100, dtype: float64
17

In [21]:
# 4.3
print(recipes.groupby(pd.Grouper(key="submitted", freq="Y")).size())

submitted
1999-12-31     275
2000-12-31     104
2001-12-31     589
2002-12-31    2644
2003-12-31    2334
2004-12-31    2153
2005-12-31    3130
2006-12-31    3473
2007-12-31    4429
2008-12-31    4029
2009-12-31    2963
2010-12-31    1538
2011-12-31     922
2012-12-31     659
2013-12-31     490
2014-12-31     139
2015-12-31      42
2016-12-31      24
2017-12-31      39
2018-12-31      24
Freq: A-DEC, dtype: int64

In [22]:
# 5.1
merge_df = recipes.merge(reviews, left_on="id", right_on="recipe_id", how="inner")
merge_df = merge_df[["id", "name", "user_id", "rating"]]
merge_df

            id                                    name  user_id  rating
0        44123   George S At The Cove  Black Bean Soup   743566       5
1        44123   George S At The Cove  Black Bean Soup    76503       5
2        44123   George S At The Cove  Black Bean Soup    34206       5
3        67664      Healthy For Them  Yogurt Popsicles   494084       5
4        67664      Healthy For Them  Yogurt Popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             Zydeco Soup   305531       5
126692  486161                             Zydeco Soup  1271506       5
126693  486161                             Zydeco Soup   724631       5
126694  486161                             Zydeco Soup   133174       5
126695  298512  Cookies By Design   Cookies On A Stick   804234       1

[126696 rows x 4 columns]

In [23]:
# 5.2
merge_df_2 = recipes.merge(reviews, left_on="id", right_on="recipe_id", how="left")
# nan_reviews = merge_df_2[merge_df_2["review"].isnull()]["id"]
merge_df_2 = merge_df_2[["recipe_id", "name"]]
merge_df_2 = merge_df_2.groupby(["recipe_id", "name"]).size().to_frame(name = 'review_count')
merge_df_2

                                                      review_count
recipe_id name
48.0      Boston Cream Pie                                       2
55.0      Betty Crocker S Southwestern Guacamole Dip             4
66.0      Black Coffee Barbecue Sauce                           18
91.0      Brown Rice And Vegetable Pilaf                         4
94.0      Blueberry Buttertarts                                  4
...                                                            ...
536547.0  Cauliflower Ceviche                                    1
536610.0  Miracle Home Made Puff Pastry                          1
536728.0  Gluten Free  Vegemite                                  1
536729.0  Creole Watermelon Feta Salad                           4
536747.0  Lemon Pom Pom Cake                                     4

[28100 rows x 1 columns]

In [25]:
# 5.3
merge_df_3 = recipes.merge(reviews, left_on="id", right_on="recipe_id", how="inner")
merge_df_3 = merge_df_3.groupby(pd.Grouper(key="submitted", freq="Y"))["rating"].mean()
merge_df_3.loc[merge_df_3 == merge_df_3.min()].index[0].year

2017

In [26]:
# 6.1
recipes = recipes.sort_values(by="name_word_count", ascending=False)
recipes.to_csv(path + "name_word_count.csv")

In [27]:
# 6.2
with pd.ExcelWriter(path + "merging.xlsx") as writer:
    merge_df.to_excel(writer, sheet_name="Рецепты с оценками", index=False)
    merge_df_2.to_excel(writer, sheet_name="Количество отзывов по рецептам")

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3